body {
    background-color: aliceblue;
}

.panel.panel-default .panel-body {
    background-color: #FFFFFF;
    color           : #485563;
}

.panel.panel-default {
    border: 1px solid #485563;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color           : #ff004c;
    background-color: #485563
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
    font-size     : large;
    text-transform: uppercase;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor:focus {
    outline: none;
}

span.ui-accordion-header-icon {
    float: right;
}

.ui-accordion .ui-accordion-content {
    line-height: 1.5;
    font-size  : 17px;
}

.ui-accordion .ui-accordion-header {
    padding       : 20px;
    text-transform: uppercase;
}

.navbar-brand {
    padding: 5px;
}

.navbar-text {
    margin        : 2px;
    font-size     : 16px;
    font-weight   : initial;
    text-transform: uppercase;
}

.panel-center-title {
    text-align: center;
    font-size : 25px;
}

.blockquote {
    line-height: 1;
    border-left: 15px solid #4e5d6c;
}

.content-para-line-height p {
    text-align : justify;
    line-height: 1.5;
}

.blockquote>p:first-child {
    text-transform: uppercase;
}
.address-contact-page { 
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.input-box-spacing-contact{
    border: 2px solid black;
    margin-bottom: 35px;
}
.name-contact-top-margin{
    margin-top: 35px
}
.btn-contact-page{
    color: #FFFFFF;
    background-color: #485563;
    margin-bottom: 30px;
}

.gmap_canvas {
    display: flex;
    border: 1px solid black;
}

.input-group {
    border: 1px solid #485563;
}