body {
    background-color: aliceblue;
}

.panel.panel-default .panel-body {
    background-color: #FFFFFF;
    color           : #485563;
}

.panel.panel-default {
    border: 1px solid #485563;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color           : #ff004c;
    background-color: #485563
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
    font-size  : large;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor:focus {
    outline: none;
}

span.ui-accordion-header-icon {
    float: right;
}

.panel-center-title {
    text-align : center;
    font-size  : 30px;
    font-weight: bold;
}