body {
    background-color: aliceblue;
}

.panel.panel-default .panel-body {
    background-color: #FFFFFF;
    color           : #485563;
}

.panel.panel-default {
    border: 1px solid #485563;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color           : #ff004c;
    background-color: #485563
}